html { background:url("greendotstexture.png"); }

body { 
    width: 80%; 
    margin:auto;

    font-size: 1.0rem;
    line-height: 1.5rem;
}

h1 { 
    font-family: "Kreon";
    color:#D62020;
    text-shadow: 0.2rem 0.2rem #850000;
    text-transform:uppercase;
    text-align:center;
 
    font-size: 6.5rem;
    line-height: 7.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
}

img { float:right; }

#map { 
    height: 550px;
    border: 1rem solid black;
    border-radius:0.5rem;
}

#tvfoot {
    float:none;
    display:block;
    width:50%;
    margin:auto;
    margin-top: -1.5rem;
}

footer {
    font-family: "Kreon";
    font-size:1.5rem;
    color:#5F605F;
  /*  text-shadow: 0.2rem 0.2rem #697C69; */
    text-align: center;
    margin:2rem;
}

.summary {
    overflow:hidden;
}

h2 {
    font-size: 2.5rem;
    line-height: 2.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 3.0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
p, ul {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

#freebase-attribution {
	position: fixed;
  left: 7px;
  bottom: 0;
}
